@font-face {
  font-family: 'Latina Essential';
  src: url('fonts/latina-essential/LatinaEssential-Light.otf')
    format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Latina Essential';
  src: url('fonts/latina-essential/LatinaEssential-LightIt.otf')
    format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Latina Essential';
  src: url('fonts/latina-essential/LatinaEssential-Medium.otf')
    format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Latina Essential';
  src: url('fonts/latina-essential/LatinaEssential-MediumIt.otf')
    format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Latina Essential';
  src: url('fonts/latina-essential/LatinaEssential-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Latina Essential';
  src: url('fonts/latina-essential/LatinaEssential-BoldIt.otf')
    format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Latina Essential';
  src: url('fonts/latina-essential/LatinaEssential-Heavy.otf')
    format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Latina Essential';
  src: url('fonts/latina-essential/LatinaEssential-HeavyIt.otf')
    format('opentype');
  font-weight: 900;
  font-style: italic;
}
