@font-face {
  font-family: 'Trueno';
  src: url('fonts/trueno/TruenoBlk.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Trueno';
  src: url('fonts/trueno/TruenoBlkIt.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'TruenoOutline';
  src: url('fonts/trueno/TruenoBlkOl.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TruenoOutline';
  src: url('fonts/trueno/TruenoBlkOlIt.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Trueno';
  src: url('fonts/trueno/TruenoBd.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Trueno';
  src: url('fonts/trueno/TruenoBdIt.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'TruenoOutline';
  src: url('fonts/trueno/TruenoBdOl.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TruenoOutline';
  src: url('fonts/trueno/TruenoBdOlIt.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Trueno';
  src: url('fonts/trueno/TruenoExBd.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Trueno';
  src: url('fonts/trueno/TruenoExBdIt.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'TruenoOutline';
  src: url('fonts/trueno/TruenoExBdOl.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TruenoOutline';
  src: url('fonts/trueno/TruenoExBdOlIt.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Trueno';
  src: url('fonts/trueno/TruenoLt.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Trueno';
  src: url('fonts/trueno/TruenoLtIt.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Trueno';
  src: url('fonts/trueno/TruenoRg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Trueno';
  src: url('fonts/trueno/TruenoRgIt.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Trueno';
  src: url('fonts/trueno/TruenoSBd.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Trueno';
  src: url('fonts/trueno/TruenoSBdIt.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Trueno';
  src: url('fonts/trueno/TruenoUltBlk.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Trueno';
  src: url('fonts/trueno/TruenoUltBlkIt.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Trueno';
  src: url('fonts/trueno/TruenoUltLt.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Trueno';
  src: url('fonts/trueno/TruenoUltLtIt.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}
