@use '../constants' as *;

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 200%;
  padding: 4rem 0;
  background-color: $white;

  h1 {
    margin: 0 2rem;
    padding: 0;
    max-width: 836px;
    text-align: center;
    color: $brand;
    font-size: 2rem;
  }

  h1 ~ p {
    padding: 1rem 0 0 0;
    margin: 0 2rem;
    max-width: 836px;
    text-align: center;
    color: $brand;
    font-size: 1.4rem;
  }
}
