@use '../constants';

.shortcode-large-profile {
  margin-bottom: 32px;
  max-width: 100%;
  padding: 16px;

  figure {
    margin: 0;
    max-width: 400px;

    img {
      width: 100%;
      height: auto;
      border-radius: 4px;
    }

    .name {
      font-weight: 700;
      padding: 0.5em 0;

      & + .role {
        margin-top: -0.5em;
        padding-top: 0;
      }
    }

    .email {
      display: block;
      font-size: 85%;
      font-weight: 400;
    }

    .role {
      font-weight: 600;
      font-size: 0.7em;
      text-transform: uppercase;
      padding: 0.6em 0;
    }

    .bio {
      padding: 0.5em 0;
      font-weight: 300;
    }
  }
}
