@use 'fonts/trueno';
@use 'fonts/font-awesome';
@use 'fonts/latina-essential';
@use 'button';
@use 'chrome';
@use 'layout/home';
@use 'layout/textheavy';
@use 'layout/imageheavy';
@use 'layout/large-profiles';
@use 'shortcodes/small-profiles';
@use 'shortcodes/large-profile';
@use 'shortcodes/join-form';
@use 'shortcodes/header';
@use 'shortcodes/public-notice';
@use 'shortcodes/signup';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Latina Essential', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

h1,
h2,
h3 {
  font-family: Trueno, 'Arial Black', Helvetica, sans-serif;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 100vh;
}

.spacer {
  flex: 1;
}
