$black: #000e26;

$gray-10: #f6f2ec;
$gray-20: #e4dacf;
$gray-30: #cfc3b4;
$gray-40: #b7ac9d;
$gray-50: #9f958b;
$gray-60: #857f78;
$gray-70: #6c6865;
$gray-80: #525153;
$gray-90: #373b44;
$gray-100: #1b2433;

$red-10: #ffecec;
$red-20: #ffcdbf;
$red-30: #ffae90;
$red-40: #ff896a;
$red-50: #ff674d;
$red-60: #ff4032;
$red-70: #ed1c24;
$red-80: #c60020;
$red-90: #8c0020;
$red-100: #630014;

$green-10: #eff6ee;
$green-20: #d5ded4;
$green-30: #bbcaba;
$green-40: #9db79f;
$green-50: #75a578;
$green-60: #359e52;
$green-70: #008f31;
$green-80: #007025;
$green-90: #00551d;
$green-100: #003512;

$blue-10: #e6f6ff;
$blue-20: #c2e0f2;
$blue-30: #a4cce5;
$blue-40: #7fb5d5;
$blue-50: #53a2cf;
$blue-60: #008df7;
$blue-70: #0075c8;
$blue-80: #005d9f;
$blue-90: #004372;
$blue-100: #002a48;

$yellow-10: #ffff67;
$yellow-20: #ffe200;
$yellow-30: #ffc100;
$yellow-40: #eda700;

// convenience aliases
$red: $red-60;
$green: $green-60;
$blue: $blue-60;
$yellow: $yellow-30;
$white: $gray-10;
$gray: $gray-60;

$brand: $red-70;
$brand-dark: $red-80;
