@use '../constants' as *;

$last_identity_width: 10em;
$last_goal_width: 9.2em;
$widest_minus_last: 8.8em;

.invitation {
  background: white;
  margin-bottom: 70px;

  home-slider {
    margin: 0 auto 20px;
  }

  .home-join {
    position: relative;
    font-size: 1.5em;
    margin-bottom: 60px;
  }
}

.home-content {
  padding: 0 0 80px 0;
  background-color: $white;
  text-align: center;

  p {
    margin: 0 auto;
    padding: 0 1em;
    font-size: 2.5em;
    max-width: 24em;
    text-align: center;
    font-weight: 400;
    line-height: 2em;

    strong {
      color: $brand;
      font-weight: inherit;
    }
  }

  a {
    font-size: 0.6em;
  }

  @media only screen and (max-width: 960px) {
    p {
      font-size: 1.4em;
    }

    a {
      font-size: 1em;
    }
  }
}

.home-main-links {
  $border: solid 4px $brand;
  $dot_gap: 10px;

  justify-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 16px;
  overflow: hidden;

  .box {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 100px 40px;
    font-size: 2em;
    font-weight: 600;
    color: $brand;
    text-decoration: none;
    position: relative;

    border-top: $border;
    border-left: $border;

    i,
    span {
      margin: 10px 0;
    }

    &:before,
    &:after {
      box-sizing: border-box;
      content: '';
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      background: white;
      border: $border;
      border-radius: 20px;
    }

    &:before {
      top: -12px;
      box-shadow: -$dot_gap 0 0px white;
    }

    &:first-child {
      margin-right: $dot_gap;
      border-left: none;
    }

    &:nth-child(1):before {
      left: 30%;
    }
    &:nth-child(2):before {
      left: 75%;
    }
    &:nth-child(3):before {
      left: 80%;
    }

    &:nth-child(1):after {
      content: none;
    }
    &:nth-child(2):after {
      left: -12px;
      top: 15%;
      box-shadow: 0 (0px - $dot_gap) 0px white;
    }
    &:nth-child(3):after {
      left: -12px;
      bottom: $dot_gap;
      box-shadow: 0 $dot_gap 0px white;
    }
  }

  @media only screen and (max-width: 800px) {
    .box {
      flex-basis: 100%;
      border-left: $border !important;
      border-right: $border !important;
      margin: 0 16px !important;
      padding-top: 40px;
      padding-bottom: 40px;

      &:nth-child(1):before {
        left: 30%;
      }
      &:nth-child(2):before {
        left: 75%;
      }
      &:nth-child(3):before {
        left: 80%;
      }
    }
  }
}

.home-join-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background: $brand;
  padding: 50px 0;

  h3 {
    color: white;
    font-weight: 400;
    text-align: center;
  }

  > * {
    margin: 0 16px;
  }

  @media only screen and (max-width: 800px) {
    h3 {
      flex-basis: 100%;
      margin-bottom: 1em;
    }
  }
}
