@use '../constants.scss';

.large-profiles-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  padding: 16px 16px 100px;

  header {
    width: 100vw;
    margin: 0 -16px;
  }
}
