@use '../constants' as *;

.textheavy-content {
  margin-top: 0;
  line-height: 200%;
  padding-right: 32px;
  padding-left: 32px;
  margin-bottom: 100px;

  > header {
    margin: 0 -2rem;
  }

  > p,
  > ol,
  > figure,
  > ul,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
  }

  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: $brand;
  }

  > h3 {
    font-size: 1.3rem;
  }

  > h4 {
    font-size: 1.2rem;
  }

  > h5 {
    font-size: 1.1rem;
  }

  > h6 {
    font-size: 1rem;
  }

  > p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  > h2 {
    & ~ *:not(h2) {
      padding-left: #{200px + 16};
    }

    & ~ ol,
    & ~ ul {
      padding-left: 248px;
    }

    & + * {
      margin-top: 0;
    }

    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    height: 0px;
    padding: 0 #{700px + 16} 0 0;
    overflow: visible;
  }

  @media only screen and (max-width: 964px) {
    > * {
      max-width: unset !important;
      padding-left: unset !important;
      padding-right: unset !important;
    }

    > h2 {
      height: unset;
    }

    > ul,
    > ol {
      padding-left: 32px !important;
    }
  }

  img {
    max-width: 100%;
  }
}
